@use "sass:color";
@use '../../../../../styles/colors' as *;

.card {
  position: relative;
  padding: 30px;
  background-color: rgba(#828EFF, 0.1);
  border-radius: 24px;
  overflow: hidden;

  .title,
  .description,
  .button {
    position: relative;
    z-index: 1;
  }

  // Верхний квадрат
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(#828EFF, 0.1);
    border-top-left-radius: 100%;
    z-index: 0;
  }

  // Нижний квадрат
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(#828EFF, 0.1);
    border-top-left-radius: 100%;
    z-index: 0;
  }

  .title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: $color-text-dark;
  }

  .description {
    margin-top: 30px;
    font-size: 18px;
    color: rgba(#131314, 0.6);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 40px;
    padding: 16px 32px;
    width: 100%;
    font-size: 16px;
    background-color: $color-primary;
    border-radius: 12px;
    color: #fff;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      background-color: color.adjust($color-primary, $lightness: -10%);
    }

    .icon {
      font-size: 18px;
    }
  }
}
