@import '../../../../../styles/colors';

.card {
  position: relative; // важно для псевдоэлементов
  padding: 30px;
  background-color: rgba($color: #828EFF, $alpha: .1);
  border-radius: 24px;
  overflow: hidden; // чтобы треугольники не выходили за рамки
  .title,
  .description,
  .button {
    position: relative;
    z-index: 1;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 150px;
    height: 300px;
    background-color: rgba(#828EFF, 0.2);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    z-index: 0;
  }

  // Расположение верхние 2 треугольника
  &::before {
    top: 0;
    transform: translateY(-100px);
  }

  // Расположение нижние 2 треугольника
  &::after {
    bottom: 0;
    transform: translateY(100px);
  }

  .title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: $color-text-dark;
  }

  .description {
    margin-top: 30px;
    font-size: 18px;
    color: rgba($color: #131314, $alpha: .6);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 40px;
    padding: 16px 32px;
    width: 100%;
    font-size: 16px;
    background-color: $color-primary;
    border-radius: 12px;
    color: #fff;

    transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.1);
          background-color: darken($color: $color-primary, $amount: 10);
        }

    .icon {
      font-size: 18px;
    }
  }
}
