@import '../../../../styles/colors';

.container {
  padding-top: 72px;
  padding-bottom: 72px;

  .sectionTitle {
    font-size: 48px;
    font-weight: 500;
    color: $color-text-dark;
  }

  .cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

/* ------------------ MEDIA QUERIES ------------------ */

/* Планшет */
@media (max-width: 1024px) {
  .container {
    padding-top: 56px;
    padding-bottom: 56px;

    .sectionTitle {
      font-size: 36px;
    }

    .cards {
      gap: 16px;
      flex-wrap: wrap; /* карточки переносятся на следующую строку */
      justify-content: center;
    }
  }
}

/* Мобильные */
@media (max-width: 768px) {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    .sectionTitle {
      font-size: 28px;
    }

    .cards {
      flex-direction: column; /* карточки в одну колонку */
      gap: 12px;
      align-items: center;
    }
  }
}
