@import '../../../../styles/colors';

.one {
  background: #fff; 
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container {
  padding-top: 72px;
  padding-bottom: 72px;

  .title {
    font-weight: 500;
    font-size: 48px;
    color: $color-text-dark;
  }

  .cards {
    margin-top: 52px;
    display: flex;
    gap: 20px;
  }
}

/* ------------------ MEDIA QUERIES ------------------ */

/* Планшет */
@media (max-width: 1024px) {
  .container {
    padding-top: 56px;
    padding-bottom: 56px;

    .title {
      font-size: 36px;
    }

    .cards {
      gap: 16px;
      flex-wrap: wrap; /* карточки переносятся на следующую строку */
      justify-content: center;
    }
  }
}

/* Мобильные */
@media (max-width: 768px) {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
      font-size: 28px;
    }

    .cards {
      flex-direction: column; /* карточки в одну колонку */
      gap: 12px;
      align-items: center;
    }
  }
}
