@import '../../../styles/colors';

/* Footer.module.scss */

.footer {
  position: relative;
  height: 500px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

  .container {
    position: relative;
    height: calc(100vh + 500px);
    top: -100vh;

    .sticky {
      position: sticky;
      top: calc(100vh - 500px);
      height: 500px;
      background-color: #f5f5f5; 
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}