// 🎨 Брендовые цвета

// Основной голубой (обводка / фон карточек)
$color-accent: #53BBFF;

// Фиолетовый (кнопки)
$color-primary: #828EFF;

// Светлый голубой (фон карточек / текст)
$color-surface: #E7F6F8;

// Тёмный (текст)
$color-text-dark: #121212;

// Белый (фон / текст)
$color-text-light: #FFFFFF;
