@import '../../../../styles/colors';

.one {
  background: #fff; 
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container {
  padding-top: 72px;
  padding-bottom: 72px;

  .sectionTitle {
    font-size: 48px;
    font-weight: 500;
    color: $color-text-dark;
  }

  .cards {
    margin-top: 52px;
    display: flex;
    gap: 20px;
  }
}