@use "sass:color";
@use '../../../styles/colors' as *;

.innerCard {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  color: $color-text-dark;
  height: 100%;

  p {
    font-size: 18px;
    margin: 0;
  }

  h1 {
    font-size: 48px;
    margin: 0;
  }

  /* Контейнер под график */
  .chartWrapper {
    flex: 1;
    width: 100%;
    min-height: 160px;

    .responsiveChart {
      width: 100% !important;
      height: 160px !important; // базовая высота
    }

    @media (max-width: 1024px) {
      .responsiveChart {
        height: 140px !important; // планшет
      }
    }

    @media (max-width: 768px) {
      .responsiveChart {
        height: 120px !important; // мобилка
      }
    }
  }

  @media (max-width: 1024px) {
    .chartWrapper {
      min-height: 140px;
    }
  }

  @media (max-width: 768px) {
    .chartWrapper {
      min-height: 120px;
    }
  }
}

.descContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stats {
  color: #1EB857;
}

/* ------------------ MEDIA QUERIES ------------------ */
@media (max-width: 1024px) {
  .innerCard {
    padding: 14px;

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }

    .chartWrapper {
      min-height: 140px; // планшет
    }
  }
}

@media (max-width: 768px) {
  .innerCard {
    padding: 12px;
    gap: 6px;

    p {
      font-size: 14px;
    }

    h1 {
      font-size: 24px;
    }

    .chartWrapper {
      flex: 1;
      min-height: 120px; // мобилка, но не меньше 120px
    }
  }

  .descContainer {
    gap: 3px;
  }
}
