@use "sass:color";
@use '../../../styles/colors' as *;

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  position: relative;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #53bbff;
    border-radius: 12px;
    width: 52px;
    height: 52px;

    .avatarImg {
      width: 52px;
      height: 52px;
      border-radius: 12px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 500;
      color: $color-text-dark;
      font-size: 14px;
    }

    .email {
      font-weight: 500;
      color: $color-text-dark;
      font-size: 14px;
    }
  }

  .logout {
    margin-left: auto;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }

  // Скелетон для загрузки профиля
.skeleton {
  background-color: rgba($color: #121212, $alpha: .15);
  border-radius: 12px;
  animation: pulse 1.5s infinite ease-in-out;
}

// Скелетон для аватара
.avatar.skeleton {
  width: 52px;
  height: 52px;
}

// Скелетон для текста
.info .name.skeleton,
.info .email.skeleton {
  width: 100px;
  height: 14px;
  margin-bottom: 4px;
}

// Анимация пульсации
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

}

@media (max-width: 480px) {
  .profile {
    .avatar {
      width: 40px;
      height: 40px;

      .avatarImg {
        width: 40px;
        height: 40px;
      }
    }
    .info {
      .email {
        font-size: 12px;
      }
    }
  }
}
