@import '../../../../styles/colors';

.contentWrapper {
  width: 100%;
  padding: 100px 20px 50px 20px; // паддинги сверху и снизу
  color: $color-text-dark;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 50px;

    .column {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-size: 14px;
        margin: 0;
        color: $color-text-dark;
      }
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(#121212, 0.12);
  }

  .bottom {
    text-align: center;
    color: $color-text-dark;

    h1 {
      font-size: 230px;
      font-weight: 700;
      letter-spacing: 2px;
      margin: 0;
      color: #dadada;
    }
  }

  /* ------------------ MEDIA QUERIES ------------------ */

  @media (max-width: 1300px) {
    .bottom h1 {
      font-size: 150px;
    }
  }

  /* Планшет */
  @media (max-width: 1024px) {
    padding: 80px 16px 40px;

    .top {
      gap: 20px;

      .column {
        flex: 1 1 45%; // две колонки в ряд
      }
    }

    .bottom h1 {
      font-size: 100px;
    }
  }

  /* Мобильные */
  @media (max-width: 600px) {
    padding: 60px 16px 30px;

    .top {
      flex-direction: column;
      gap: 16px;

      .column {
        width: 100%; 
      }
    }

    .bottom h1 {
      font-size: 36px;
    }
  }
}
